extends layout

block content
    h1 #{title}
    p   
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt lobortis feugiat vivamus at augue eget arcu. Fames ac turpis egestas sed. Bibendum ut tristique et egestas quis ipsum suspendisse. Vitae ultricies leo integer malesuada nunc vel risus commodo. Diam maecenas sed enim ut sem viverra aliquet eget. Nulla facilisi cras fermentum odio eu feugiat pretium. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Bibendum ut tristique et egestas quis ipsum. In cursus turpis massa tincidunt.
    p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt lobortis feugiat vivamus at augue eget arcu. Fames ac turpis egestas sed. Bibendum ut tristique et egestas quis ipsum suspendisse. Vitae ultricies leo integer malesuada nunc vel risus commodo. Diam maecenas sed enim ut sem viverra aliquet eget. Nulla facilisi cras fermentum odio eu feugiat pretium. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Bibendum ut tristique et egestas quis ipsum. In cursus turpis massa tincidunt.
