extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p
            | Is your computer running slow? or maybe not at all? Call us for a quote!
          p
            a.btn.btn-primary.btn-lg(href="#") Read More
          .col-md-5
            img(src="images/mouse.png")
            
  .row
    .col-md-4
      .well
        h4 Hardware Problems?
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt lobortis feugiat vivamus at augue eget arcu. Fames ac turpis egestas sed. Bibendum ut tristique et egestas quis ipsum suspendisse. Vitae ultricies leo integer malesuada nunc vel risus commodo. Diam maecenas sed enim ut sem viverra aliquet eget. Nulla facilisi cras fermentum odio eu feugiat pretium. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Bibendum ut tristique et egestas quis ipsum. In cursus turpis massa tincidunt.
    .col-md-4
      .well
        h4 Software Problems?
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt lobortis feugiat vivamus at augue eget arcu. Fames ac turpis egestas sed. Bibendum ut tristique et egestas quis ipsum suspendisse. Vitae ultricies leo integer malesuada nunc vel risus commodo. Diam maecenas sed enim ut sem viverra aliquet eget. Nulla facilisi cras fermentum odio eu feugiat pretium. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Bibendum ut tristique et egestas quis ipsum. In cursus turpis massa tincidunt.
    .col-md-4
      .well
        h4 PC Tune Up
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt lobortis feugiat vivamus at augue eget arcu. Fames ac turpis egestas sed. Bibendum ut tristique et egestas quis ipsum suspendisse. Vitae ultricies leo integer malesuada nunc vel risus commodo. Diam maecenas sed enim ut sem viverra aliquet eget. Nulla facilisi cras fermentum odio eu feugiat pretium. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Bibendum ut tristique et egestas quis ipsum. In cursus turpis massa tincidunt.

